<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myexample"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <!-- 뷰 -->
        <activity android:name=".Views.View_Main" />
        <activity android:name=".Views.View_Area_Activity" />
        <activity android:name=".Views.View_Background_01_Activity" />
        <activity android:name=".Views.View_Background_02_Activity" />
        <activity android:name=".Views.View_Margin_Activity" />
        <activity android:name=".Views.View_Visibility_01_Activity" />
        <activity android:name=".Views.View_Visibility_02_Activity" />
        <!-- 레이아웃 -->
        <activity android:name=".Layouts.Layout_Main" />
        <activity android:name=".Layouts.Layout_LinearLayout_Orientation_01_Activity" />
        <activity android:name=".Layouts.Layout_LinearLayout_Orientation_02_Activity" />
        <activity android:name=".Layouts.Layout_LinearLayout_Weight_01_Activity" />
        <activity android:name=".Layouts.Layout_LinearLayout_Weight_02_Activity" />
        <activity android:name=".Layouts.Layout_RelativeLayout_01_Activity" />
        <activity android:name=".Layouts.Layout_RelativeLayout_02_Activity" />
        <activity android:name=".Layouts.Layout_TableLayout_01_Activity" />
        <activity android:name=".Layouts.Layout_TableLayout_02_Activity" />
        <activity android:name=".Layouts.Layout_ScrollView_01_Activity" />
        <activity android:name=".Layouts.Layout_ScrollView_02_Activity" />
        <activity android:name=".Layouts.Layout_GridLayout_01_Activity" />
        <activity android:name=".Layouts.Layout_GridLayout_02_Activity" />
        <!-- 위젯 -->
        <activity android:name=".Widgets.Widget_Main" />
        <activity android:name=".Widgets.Widget_TextView_01_Activity" />
        <activity android:name=".Widgets.Widget_TextView_02_Activity" />
        <activity android:name=".Widgets.Widget_CompoundButton_01_Activity" />
        <activity android:name=".Widgets.Widget_CompoundButton_03_Activity" />
        <activity android:name=".Widgets.Widget_CompoundButton_04_Activity" />
        <activity android:name=".Widgets.Widget_CompoundButton_05_Activity" />
        <activity android:name=".Widgets.Widget_CompoundButton_02_Activity" />
        <activity android:name=".Widgets.Widget_Button_01_Activity" />
        <activity android:name=".Widgets.Widget_Button_02_Activity" />
        <activity android:name=".Widgets.Widget_Button_03_Activity" />
        <activity android:name=".Widgets.Widget_EditText_01_Activity" />
        <activity android:name=".Widgets.Widget_EditText_02_Activity" />
        <activity android:name=".Widgets.Widget_ImageView_01_Activity" />
        <activity android:name=".Widgets.Widget_ImageView_02_Activity" />
        <activity android:name=".Widgets.Widget_ImageView_03_Activity" />
        <!-- 어댑터뷰 -->
        <activity android:name=".AdapterView.AdapterView_Main" />
        <activity android:name=".AdapterView.AdapterView_ListView_01_Activity" />
        <activity android:name=".AdapterView.AdapterView_ListView_02_Activity" />
        <activity android:name=".AdapterView.AdapterView_ListView_03_Activity" />
        <activity android:name=".AdapterView.AdapterView_ListView_04_Activity" />
        <activity android:name=".AdapterView.AdapterView_ListView_05_Activity" />
        <activity android:name=".AdapterView.AdapterView_GridView_01_Activity" />
        <activity android:name=".AdapterView.AdapterView_GridView_02_Activity" />
        <activity android:name=".AdapterView.AdapterView_GridView_03_Activity" />
        <activity android:name=".AdapterView.AdapterView_GridView_04_Activity" />
        <activity android:name=".AdapterView.AdapterView_Spinner_01_Activity" />
        <activity android:name=".AdapterView.AdapterView_Spinner_02_Activity" />
        <activity android:name=".AdapterView.AdapterView_Spinner_03_Activity" />

        <activity android:name=".Thread.Thread_Main" />
        <activity android:name=".Thread.Thread_Thread_01_Activity" />
        <activity android:name=".Thread.Thread_Thread_02_Activity" />
        <activity android:name=".Thread.Thread_Thread_03_Activity" />
        <activity android:name=".Thread.Thread_Thread_04_Activity" />
        <activity android:name=".Thread.Thread_Thread_05_Activity" />
        <activity android:name=".Thread.Thread_Thread_06_Activity" />
        <activity android:name=".Thread.Thread_Thread_07_Activity" />
        <activity android:name=".Thread.Thread_Thread_08_Activity" />
        <activity android:name=".Thread.Thread_Thread_09_Activity" />
        <activity android:name=".Thread.Thread_Thread_10_Activity" />
        <activity android:name=".Thread.Thread_Thread_11_Activity" />
        <activity android:name=".Thread.Thread_Thread_12_Activity" />

        <activity android:name=".Activity.Activity_Main" />
        <activity android:name=".Activity.Activity_01_Activity" />
        <activity android:name=".Activity.Activity_02_Activity" />
        <activity android:name=".Activity.Activity_03_Activity" />
        <activity android:name=".Activity.Activity_04_Activity" />
        <activity android:name=".Activity.Activity_05_Activity" />
        <activity android:name=".Activity.Activity_06_Activity" />
        <activity android:name=".Activity.Activity_07_Activity" />
        <activity android:name=".Activity.Activity_08_Activity" />

        <activity android:name=".Service.Service_Main" />
        <activity android:name=".Service.Service_01_Activity" />
        <activity android:name=".Service.Service_02_Activity" />
        <activity android:name=".Service.Service_03_Activity" />

        <service android:name=".Service.Service_02_Service" />
        <service android:name=".Service.Service_03_Service" />

        <activity android:name=".BroadcastReceiver.Receiver_Main" />
        <activity android:name=".BroadcastReceiver.Receiver_01_Activity" />

        <receiver android:name=".BroadcastReceiver.Receiver_01_Receiver">
            <intent-filter android:priority="10000">
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.intent.action.SCREEN_OFF" />
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity android:name=".MultiMedia.MultiMedia_Main" />
        <activity android:name=".MultiMedia.MultiMedia_01_Activity" />
        <activity android:name=".MultiMedia.MultiMedia_02_Activity" />
        <activity android:name=".MultiMedia.MultiMedia_03_Activity" />
        <activity android:name=".MultiMedia.MultiMedia_04_Activity" />
        <activity android:name=".MultiMedia.MultiMedia_05_Activity" />
        <activity android:name=".MultiMedia.MultiMedia_06_Activity" />
        <activity android:name=".MultiMedia.MultiMedia_07_Activity" />
        <activity android:name=".MultiMedia.MultiMedia_08_Activity" />
        <activity android:name=".MultiMedia.MultiMedia_09_Activity" />
        <activity android:name=".MultiMedia.MultiMedia_10_Activity" />

        <activity android:name=".Network.Network_Main" />
        <activity android:name=".Network.Network_01_Activity" />
        <activity android:name=".Network.Network_02_Activity" />
        <activity android:name=".Network.Network_03_Activity" />
        <activity android:name=".Network.Network_04_Activity" />
        <activity android:name=".Network.Network_05_Activity" />
        <activity android:name=".Network.Network_06_Activity" />


        <activity android:name=".WebView.WebView_Main" />
        <activity android:name=".WebView.WebView_01_Activity" />
        <activity android:name=".WebView.WebView_02_Activity" />
        <activity android:name=".WebView.WebView_03_Activity" />
        <activity android:name=".WebView.WebView_04_Activity" />
        <activity android:name=".WebView.WebView_06_Activity" />
        <activity android:name=".WebView.WebView_07_Activity" />
        <activity android:name=".WebView.WebView_08_Activity" />
        <activity android:name=".WebView.WebView_09_Activity" />

        <activity android:name=".Location.Location_Main" />
        <activity android:name=".Location.Location_01_Activity" />
        <activity android:name=".Location.Location_02_Activity" />
        <activity android:name=".Location.Location_03_Activity" />
        <activity android:name=".Location.Location_04_Activity" />
        <activity android:name=".Location.Location_05_Activity" />
        <activity android:name=".Location.Location_06_Activity" />
        <activity android:name=".Location.Location_07_Activity" />
        <activity android:name=".Location.Location_08_Activity" />
        <activity android:name=".Location.Location_09_Activity" />

        <activity android:name=".SNS.SNS_Main" />
        <activity android:name=".SNS.SNS_01_Activity" />
        <activity android:name=".SNS.SNS_02_Activity" />
        <activity android:name=".SNS.SNS_03_Activity" />
        <activity android:name=".SNS.SNS_04_Activity" />
        <activity android:name=".SNS.SNS_05_Activity" />
        <activity android:name=".SNS.SNS_06_Activity" />
        <activity android:name=".SNS.SNS_07_Activity" />
        <activity android:name=".SNS.SNS_08_Activity" />
        <activity android:name=".SNS.SNS_09_Activity" />
        <activity android:name=".SNS.SNS_10_Activity" />
        <activity android:name=".SNS.SNS_11_Activity" />
        <activity android:name=".SNS.SNS_12_Activity" />
        <activity android:name=".SNS.SNS_13_Activity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider563293120478760"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAhLINsM-T_d5CpfUfdVoJLWlAazuF6Rfg" />

        <activity android:name=".IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="49883bd7500dc16ab39c1b4bfc9eaebdb3bf315b" />
    </application>

</manifest>